/* This code styles the default dimensions of the map */

.App .leaflet-container {
  height: 100vh;
  width: 100%;
}
.App .leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  background-color: rgba(158, 215, 255, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.53);
  border-radius: 15px;
  box-shadow: 3px 3px 14px hsl(0deg 0% 50% / 80%);
  padding: 20px;
}
.App .leaflet-control-layers-toggle {
  background-color: hsl(0deg 0% 100% / 90%);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #595959;
  color: #666;
  cursor: pointer;
}
.App .leaflet-bar a {
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 1px #595959;
  background-color: hsl(0deg 0% 100% / 90%);
}
.App .leaflet-control-layers label {
  font-size: 16px;
}
.App .leaflet-control-layers-base {
  background-color: hsl(0deg 0% 100% / 90%);
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 1px #595959;
  border-radius: 4px;
  padding: 15px;
}
.App .leaflet-control-attribution {
  background-color: hsl(0deg 0% 100% / 90%);
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 4px;
  box-shadow: 1px 1px 1px hsl(0deg 0% 35%);
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: hsl(0, 0%, 0%);
}
.App .leaflet-control-attribution a {
  font-weight: bold;
}

.App .leaflet-control-layers-selector {
  cursor: pointer;
}

@media only screen and (max-width: 280px) {
  .App .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar,
  .App .leaflet-control-attribution {
    transform: scale(0.45);
    -moz-transform: scale(0.45);
  }
  .leaflet-bottom {
    transform: translate(28%, 28%);
    -moz-transform: translate(28%, 28%);
  }
  @supports (zoom: 0.45) {
    .App .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar,
    .App .leaflet-control-attribution {
      transform: none;
      -moz-transform: none;
      zoom: 0.45;
    }
    .leaflet-bottom {
      transform: none;
      -moz-transform: none;
    }
  }
}
@media only screen and (min-width: 282px) and (max-width: 767px) {
  .App .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar,
  .App .leaflet-control-attribution {
    transform: scale(0.55) translate(-92%, -90%);
    -moz-transform: scale(0.55) translate(-92%, -90%);
  }
  .leaflet-bottom {
    transform: translate(66%, 35%);
    -moz-transform: translate(66%, 35%);
  }
  .leaflet-top {
    transform: translate(44%, 45%);
    -moz-transform: translate(44%, 45%);
  }
  @supports (zoom: 0.55) {
    .App .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar,
    .App .leaflet-control-attribution {
      transform: none;
      -moz-transform: none;
      zoom: 0.55;
    }
    .leaflet-bottom {
      transform: none;
      -moz-transform: none;
    }
    .leaflet-top {
      transform: none;
      -moz-transform: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  .App .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar,
  .App .leaflet-control-attribution {
    transform: scale(0.85);
    -moz-transform: scale(0.85);
  }
  @supports (zoom: 0.85) {
    .App .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar,
    .App .leaflet-control-attribution {
      transform: none;
      -moz-transform: none;
      zoom: 0.85;
    }
  }
}

@media only screen and (min-width: 821px) and (max-width: 992px) {
  .App .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar,
  .App .leaflet-control-attribution {
    transform: scale(0.6);
    -moz-transform: scale(0.6);
  }
  @supports (zoom: 0.6) {
    .App .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar,
    .App .leaflet-control-attribution {
      transform: none;
      -moz-transform: none;
      zoom: 0.6;
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .App .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar,
  .App .leaflet-control-attribution {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
  @supports (zoom: 0.8) {
    .App .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar,
    .App .leaflet-control-attribution {
      transform: none;
      -moz-transform: none;
      zoom: 0.8;
    }
  }
}
