.ForecastDay {
  text-align: center;
  padding: 8px;
}
.ForecastDay .forecast-weekday {
  color: hsl(0, 0%, 35%);
}
.ForecastDay canvas {
  margin: 6px 0 2px 0;
}

.ForecastDay span.max-temp {
  border-left: 1px dotted hsl(0, 0%, 75%);
  color: hsl(0, 0%, 0%);
  padding-left: 5px;
}

.ForecastDay span.min-temp {
  padding-right: 5px;
}
