.Weather {
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 4px;
  box-shadow: 1px 1px 1px hsl(0, 0%, 35%);
  color: hsl(0, 0%, 45%);
  padding: 35px 35px 23px 35px;
}
.Weather form {
  margin-bottom: 16px;
}
.Weather input.btn {
  background-color: hsl(207deg 100% 60%);
  border: 1px solid hsl(207deg 100% 60%);
  box-shadow: 1px 1px 1px hsl(207deg 100% 40%);
}
.Weather div.col-9 {
  padding-right: 0;
}
.Weather div.col-3 {
  padding-right: 10px;
}
